[Unit]
Description=Watch and Scan Downloads Folder

[Service]
Type=simple
ExecStart=/home/jakob/.local/bin/avscan.sh

[Install]
WantedBy=default.target
